body {
    background: #370617;
}

/* section {
    display: inline-block;
}

.left-section {
    margin-top: 90px;
    margin-right: 20px;
    margin-bottom: 90px;
    margin-left: 98px;
}

.right-section {
    margin-top: 90px;
    margin-right: 98px;
    margin-bottom: 90px;
} */

.main-container {

    /* Hur ska jag göra med positioneringen?? */
    position: absolute;
    top: 90px;
    right: 98px;
    bottom: 90px;
    left: 98px;
    width: 956px;
    height: 520px;
    /* margin: 90px 98px; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    justify-content: space-between;
}

.container {
    width: 468px;
    height: 160px;
    background-color: #F48C06;
    /* Ska jag ta bort margin-top? */
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
}

.container__square {
    width: 78px;
    min-height: 78px;
    margin: 20px 0px 20px 20px;
    /* margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 20px; */
    background-color: #9D0208; 
    border-radius: 5px;  
}

.top-left {
    align-items: flex-end;
}

.top-right {
    justify-content: center;
}

.container__square:last-child {
    margin-right: 20px;    
}

.middle-left {
    align-items: center;
    justify-content: flex-end;
}

.middle-right {
    justify-content: space-between;
    align-items: flex-start;
    /* align-self: stretch; */
}

.middle-right .container__square:last-child {
    align-self: flex-end
}