body {
    background: #370617;
}

/* section {
    display: inline-block;
}

.left-section {
    margin-top: 90px;
    margin-right: 20px;
    margin-bottom: 90px;
    margin-left: 98px;
}

.right-section {
    margin-top: 90px;
    margin-right: 98px;
    margin-bottom: 90px;
} */

.main-container {

    /* Hur ska jag göra med positioneringen?? */
    position: absolute;
    top: 90px;
    right: 98px;
    bottom: 90px;
    left: 98px;
    width: 956px;
    height: 520px;
    /* margin: 90px 98px; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    justify-content: space-between;
}

.container {
    width: 468px;
    height: 160px;
    margin-top: 20px;
    background-color: #F48C06;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: flex;
}

.container__square {
    width: 78px;
    min-height: 78px;
    margin: 20px 0px 20px 20px;    
    background-color: #9D0208; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;  
}

.container__square:last-child {
    margin-right: 20px;    
}

.top-left {
    align-items: flex-end;
}

.top-left .container__square {
    box-shadow: none;
}

.top-right {
    justify-content: center;
}

.middle-left {
    align-items: center;
    justify-content: flex-end;
}

.middle-right {
    justify-content: space-between;
    align-items: flex-start;
    /* align-self: stretch; */
}

.middle-right .container__square:last-child {
    align-self: flex-end
}

.bottom-left {
    justify-content: space-evenly;
}

.bottom-left .container__square + .container__square {
    align-self: center;
}

.bottom-left .container__square:last-child {
    align-self: stretch;
}

.bottom-left .container__square {
    box-shadow: none;    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    color: #FFFFFF;
}